<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>labour</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<style>
	body{
		margin: 20px;
		left:50px;
		right:50px;
	    background: #bab9b9;
	    font-weight: bold;
	}
	.button{
		display: grid;
		height: 12px
	}
</style>
</head>
<body>
<div>
	<a href="/user_home"><button>Back</button></a>
</div>
<div class="alert alert-info text-center fs-2" role="alert">
		Labours
	</div>
<div class="htable">
	<table class="table table-dark table-striped">
	  <thead>
	    <tr>
	      <th scope="col">Name</th>
	      <th scope="col">Cost</th>
	      <th scope="col">Username</th>
	      <th scope="col">Contact</th>
	    </tr>
	  </thead>
	  	<tbody>
	  		<tr th:each = "labour : ${labours}">
	  			<td class="table-light" th:text ="${labour.name}"></td>
	  			<td class="table-light" th:text ="${labour.cost}"></td>
	  			<td class="table-light" th:text ="${labour.username}"></td>
	  			<td class="table-light" th:text ="${labour.mobile}"></td>
	  		</tr>
		</tbody>
	</table>
</div>

</body>
</html>