<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Form</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>User Registration-Sign Up</h1>
		</div>

		<form th:action="@{/process_register}" method="post"
			style="max-width: 600px; margin: 0 auto;" th:object="${user}">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-form-label col-4">NAME</label>
					<div class="col-8 ">
						<input type="text" class="form-control" th:field="*{name}"
							required minlength="2" maxlength="45" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">E-MAIL</label>
					<div class="col-8 ">
						<input type="email" class="form-control" th:field="*{eMail}"
							required />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">PASSWORD</label>
					<div class="col-8 ">
						<input type="password" class="form-control" th:field="*{passWord}"
							required minlength="6" maxlength="10" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">USERNAME</label>
					<div class="col-8 ">
						<input type="text" class="form-control" th:field="*{uname}"
							required />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">ADDRESS</label>
					<div class="col-8 ">
						<input type="text" class="form-control" th:field="*{address}" />
					</div>
				</div>

				<div>
					<button type="submit" class="btn btn-primary">Sign Up</button>
				</div>

			</div>
		</form>

	</div>

</body>
</html>